<!DOCTYPE html>

<html class="no-js"> 

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200">
    <link rel="stylesheet" href="./css/style.css">
	
	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Load styles -->
	<link rel="stylesheet" href="css/style.css">
	
	<script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body class="page-home">
		<div class="container">
			<div class="image">
				<img src="https://cdn.arstechnica.net/wp-content/uploads/2016/05/internet-in-spaaaace-980x622.jpg"  width="1500" height="200">
				<div class="top-right">bz8583a@student.american.edu <br> jv9726a@student.american.edu</div>
			</div>
			<div class="navbar">
                <a href="/">Home</a>
                <a href="diversity">Diversity</a>
  				<a href="crime">Crime</a>
                <a href="economics">Economics</a>
  				<div class="dropdown">
			</div>
            <br>
            <br>
            <h4>Diversity scores for each neighborhood cluster are out of 20 points</h4>
            <h4>Neighborhood clusters that are more diverse have higher scores</h4>
            <br>
        	<section class="subheader">
            <h5>{{show_data0}}</h5>
            <h5>{{show_data1}}</h5>
            <h5>{{show_data2}}</h5>
            <h5>{{show_data3}}</h5>
            <h5>{{show_data4}}</h5>
            <h5>{{show_data5}}</h5>
            <h5>{{show_data6}}</h5>
            <h5>{{show_data7}}</h5>
            <h5>{{show_data8}}</h5>
            <h5>{{show_data9}}</h5>
            <h5>{{show_data10}}</h5>
            <h5>{{show_data11}}</h5>
            <h5>{{show_data12}}</h5>
            <h5>{{show_data13}}</h5>
            <h5>{{show_data14}}</h5>
            <h5>{{show_data15}}</h5>
            <h5>{{show_data16}}</h5>
            <h5>{{show_data17}}</h5>
            <h5>{{show_data18}}</h5>
            <h5>{{show_data19}}</h5>
            <h5>{{show_data20}}</h5>
            <h5>{{show_data21}}</h5>
            <h5>{{show_data22}}</h5>
            <h5>{{show_data23}}</h5>
            <h5>{{show_data24}}</h5>
            <h5>{{show_data25}}</h5>
            <h5>{{show_data26}}</h5>
            <h5>{{show_data27}}</h5>
            <h5>{{show_data28}}</h5>
            <h5>{{show_data29}}</h5>
            <h5>{{show_data30}}</h5>
            <h5>{{show_data31}}</h5>
            <h5>{{show_data32}}</h5>
            <h5>{{show_data33}}</h5>
            <h5>{{show_data34}}</h5>
            <h5>{{show_data35}}</h5>
            <h5>{{show_data36}}</h5>
            <h5>{{show_data37}}</h5>
            <h5>{{show_data38}}</h5>
       	 	</section>
		</div><!-- end container -->

	<!-- Load scripts -->
		<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-2.2.3.min.js"><\/script>')</script>
		<script src="js/main.js"></script>
</body>
</html>